<div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-3 folder" style="max-width: 18rem;">
           
            <div class="card-body text-success">
              <h5 class="card-title"></h5>
                     <div class="ffolder big cyan">
                          <span><marquee> 300 Students </marquee></span>
                    </div>
            </div>
            <div class="card-footer bg-transparent">
                <h5 class="text-center">Terminal</h5>
            </div>
          </div>
      </div>


      <div class="col-lg-4">
        <div class="card mb-3 folder" style="max-width: 18rem;">
           
            <div class="card-body text-success">
              <h5 class="card-title"></h5>
                     <div class="ffolder big cyan">
                          <span>233 Students</span>
                    </div>
            </div>
            <div class="card-footer bg-transparent">
            </div>
            <h5 class="text-center">Premier</h5>
          </div>
      </div>


      <div class="col-lg-4">
        <div class="card mb-3 folder" style="max-width: 18rem;">
           
            <div class="card-body text-success">
              <h5 class="card-title"></h5>
                     <div class="ffolder big cyan">
                          <span>377 Students</span>
                    </div>
            </div>
            <div class="card-footer bg-transparent">
                <h5 class="text-center">Second</h5>
            </div>
          </div>
      </div>

      <div class="col-lg-4">
        <div class="card mb-3 folder" style="max-width: 18rem;">
           
            <div class="card-body text-success">
              <h5 class="card-title"></h5>
                     <div class="ffolder big cyan">
                          <span>223 Files</span>
                    </div>
            </div>
            <div class="card-footer bg-transparent">
                <h5 class="text-center">Troisieme</h5>
            </div>
          </div>
      </div>





    </div>
  </div>











